# Backend
venv/
.venv/
__pycache__/
*.pyc
.env
document_uploads/

# Frontend
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Common/System
.DS_Store
Thumbs.db
.vscode/
.idea/
.python-version